$white-color: white;
$blue-color: rgb(75, 75, 214);
$p-bg-color: $white-color;
$purple-color: rgb(108, 1, 124);
$purple-color: rgb(108, 1, 124);
$gray-color: gray;
$light-gray-color: lightgray;
$dark-gray-color: #4f536c;
$light-bg: rgb(250, 250, 250);
$light2-opa-bg: rgba(242, 242, 242, 0.98);
$light2-bg: rgb(242, 242, 242);

$primary-color: $blue-color;
$p-text-color: black;
$s-text-color: $dark-gray-color;
$t-text-color: $white-color;
