@use "../../common/sass/style";
@use "../../common/sass/mixin";

:root {
  --percent: "0%";
}
.course-box-container {
  height: 425px;
  width: 321px;
  color: blue;
  background-color: style.$white-color;
  border-radius: 10px;
  .course-box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .course-box-header {
      width: 271px;
      height: 196px;
      position: relative;
      margin-top: 20px;
      .course-box-image {
        width: 271px;
        height: 196px;
        object-fit: cover;
        border-radius: 10px;
      }
      .course-box-tag {
        height: 15px;
        width: fit-content;
        padding: 5px 10px;
        position: absolute;
        top: 10px;
        left: 10px;
        color: style.$dark-gray-color;
        background-color: style.$light-bg;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    .course-box-body {
      width: 280px;
      height: 150px;
      margin-top: 30px;
      margin-right: 20px;
      margin-left: 20px;
      p {
        margin: 10px 0;
        font-size: 14px;
      }
      .course-box-title {
        font-weight: 700;
        font-size: 22px;
        color: style.$p-text-color;
      }
      .course-box-time {
        color: style.$gray-color;
        margin-bottom: 20px;
      }
      .course-box-description {
        span {
          width: calc(90%);
          color: style.$gray-color;
          display: -webkit-box;
          overflow-y: hidden;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          position: relative;
        }
      }
    }
  }
}
